body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
}

.mainBody {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

h3 {
  font-family: 'Alegreya', serif!important;
}

.results {
 max-height: 300px!important;
 overflow-y: auto!important;
}

.search {
  text-align: center;
}

.watchListContainer {
  margin-top: 35px;
}

.ui.top.attached.header {
  background-color: #003366;
}

.watchListContainer .ui.top.attached.header {
  background-color: #202020;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color: #202020;
}
